akshare
backtrader
chainlit
chromadb
eodhd
feedparser
finnhub-python
langchain-anthropic
langchain-deepseek
langchain-experimental
langchain-google-genai
langchain-openai
langgraph
pandas
parsel
praw
pytz
questionary
redis
requests
rich
sentence-transformers
setuptools
stockstats
tqdm
tushare
typing-extensions
yfinance
